In [22]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
%pip install joblib
import joblib
from sklearn import tree

Requirement already satisfied: joblib in c:\users\sneha\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.5.0)
Note: you may need to restart the kernel to use updated packages.

DecisionTreeClassifier-It is class which implement the decision tree algorithm

In [15]:
df=pd.read_csv('music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

From the we can understand that dataset is related to users choice according to their age.And 1 represents male and 0 represents female

Now we splitting our data into input and output for making predictions .
input -known thing
output -unknown thing

In [16]:
input = df.drop(columns=['genre'])
input

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [17]:
# output=df.drop(columns=['age','gender'])
output = df.drop(columns=['genre'])
output

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

Now we choosed decision tree algorithm for our prediction because 
Decision tree-make decisions based on rules .
ex-approve loan or not?
check whether he has job or good salary

In [18]:
#lets create the instance(object) of the DecisionTreeClassifier
model = DecisionTreeClassifier()
#lets predict the genre of a person
model.fit(input, output)
#lets predict the genre of a person
predictions=model.predict([[21, 1],[20,0]])
predictions

C:\Users\sneha\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([[20,  1],
       [20,  0]], dtype=int64)

Calculating Accuracy
To calculate accuracy we need to split our data into 2 parts 1 for training and other 1 for testing 
because we sending entire model and make only 2 predictions thats not enough for calculating accuracy
general-70% of data for training
30% for testing
we can do these by using few functions and importings

In [19]:
# First, split the correct output (genre) column for training and testing
output = df['genre']
input_train, input_test, output_train, output_test = train_test_split(input, output, test_size=0.2)
#test_size 0.2 represents we are using only 20% of data for testing and 80% for training

# Fit the model with the correct output
model.fit(input_train, output_train)

# Predict and calculate accuracy
predictions = model.predict(input_test)
accuracy = accuracy_score(output_test, predictions)
accuracy

0.75

persistance of data 
This is very small data..so it wont take much time to train this data ..but if there is large data it take some much time..so in order to save time and make deployment and sharing easier we save this trained ml model into disk (called persistent)

In [20]:
joblib.dump(model, 'music-recommender.joblib')
#saves model to a file called music-recommender.joblib so u can use it later without training again(time consuming reduces)

['music-recommender.joblib']

In [21]:
joblib.load('music-recommender.joblib')
predictions=model.predict([[21, 1],[20,0]])
print(predictions)
#This is how you can use the saved model to make predictions without retraining it.

['HipHop' 'Dance']

C:\Users\sneha\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [25]:
#visualizing the decision tree
tree.export_graphviz(model, out_file='music-recommender.dot', 
                     feature_names=['age','gender'],
                     class_names=sorted(output.unique()),
                        label='all',
                        rounded=True, filled=True)